{% extends "site/Layout.html" %}

{% block titulo %} {{titulo}} {% endblock %}

{% block content %}

<h2>Página de Contato</h2>

{% if mensagem is defined %}
{{ mensagem('mensagem_email') | raw }}
{% endif %}

<p>{{ message('login') }}</p>
<form method="post" action="/contato/enviar">
    <label>Nome</label><br>
    {{ message('nome') }}
    <input type="text" name="nome" placeholder="Nome"><br>
    <label>Email</label><br>
    {{ message('email') }}
    <input type="text" name="email" placeholder="email"><br>
    <label>mensagem</label><br>
    {{ message('mensagem') }}
    <textarea name="mensagem" rows="5"></textarea>

    <input type="submit" value="Enviar Email">
</form>

{% endblock %}