{% extends "site/Layout.html" %}

{% block titulo %} {{titulo}} {% endblock %}

{% block content %}
<h2>Estamos na página inicial</h2>

<li><a href="" aria-label="Previous"> <span aria-hidden="true">&laquo;</span> </a></li>

<table>
    <thead>
        <tr>
            <td>Id</td>
            <td>Nome</td>
            <td>Mensagem</td>
        </tr>
    </thead>
    <tbody>
        {% for depoimento in depoimentos %}
        <tr>
            <td> <a href="#">{{ depoimento.id }}</a> </td>
            <td> {{ depoimento.nome }} </td>
            <td> {{ depoimento.mensagem }} </td>

        </tr>
        {% endfor %}
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2"> {{ links | raw }} </td>
    </tr>
    </tfoot>
</table>

<hr>

<form method="post" action="/home/store" role="form">
    <div class="form-group">
        <label >Nome</label>
        {{ message('nome') }}
        <input type="text" class="form-control" name="nome" required>
    </div>

    <div class="form-group">
        <label >Mensagem</label>
        {{ message('mensagem') }}
        <textarea class="form-control" rows="5" name="mensagem" ></textarea>
    </div>

    <div class="form-group mt-3">
        <button type="submit" class="btn btn-success">Enviar</button>
    </div>
</form>

{% endblock %}

